*{
    color: white;
}
#nav-bar{
    height: 60px;
    background-color: #0f1111;
}

a{
    text-decoration: none;
    margin-right: 200px;
}

#logo{
    font-size: 25px;
    color: #f08804;
}

button{
    background-color: #f08804;
}
input{
    color: #f08804;
}