h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    height: 100px;
    width: 100px;
    background-color: darkkhaki;
    border: 2px solid black;
    display: inline-block;
}

#box1{
    position: static;
    top: 10px;
}

#box2{
    position: relative;
    top: 10px;
}

#box3{
    position: absolute;
    top: 400px;
}
#box4{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}